@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

.main-content{
    margin-top: 100px;

    .faq{
        background-color: white;
        width: 40%;
        border-radius: 20px;
        border: 1px solid lightgray;
        padding: 20px;

        .h3{
            margin: 10px 0 20px 0;
        }
        .answer{
            background: white;
            padding: 0 10px;
        }
        li{
        }

        .not-active{

            .answer{
                max-height: 0;
                overflow: hidden;
                padding: 0 20px;
            }
        }
        .active{
            background-color: transparent;
            color: gray;
            .answer{
                max-height: 500px;
                overflow: hidden;
                transition: max-height 0.6s linear;
            }
        }
    }
}
